@model IEnumerable<TestFluentValidation.Frontend.Models.ViewModel.Student>

@{
    ViewData["Title"] = "Index";
    int idno = 1;
}



    <div class="container border mt-5 p-3">
        <p class="text-center">
            <a class="btn btn-primary" asp-action="AddorEdit"><i class="fa-solid fa-plus"></i> Create New</a>
        </p>
        <table id="cityTable" class="table table-bordered  table-striped table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Picture)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StateId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CityId)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                        <img width="30" height="30" src="~/images/@item.Picture" />
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Country.Name)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.State.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td>
                        <a class="btn btn-success" href="Student/AddorEdit/@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <a class="delete-button btn btn-danger" href="Student/Delete/@item.Id" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa-solid fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                    idno++;
                }
            </tbody>
        </table>
    </div>